@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: You can add global custom styles below, 
   but try to stick to utility classes in your components when possible.
*/
body {
  @apply bg-gray-50 text-gray-900;
}